<mat-toolbar color="primary" class="navbar">
  <div>
    <span id="title">{{ title }}</span>
    <span id="home"><a href="/">Home</a></span>
    <span><a href="/">About</a></span>
    <span><a href="/">Posts</a></span>
  </div>
  <div class="authentication-area">
      <form [formGroup]="searchFormGroup">
          <input formControlName="authorName" 
               class="form-control form-control-sm" 
               type="text" 
               placeholder="search author"
               (input)="inputValidator($event)"
               (keyup.enter)="onEnter()"> 
      </form>
    <button mat-raised-button>Login</button>
    <button mat-raised-button color="accent">Sign-up</button>
  </div>
</mat-toolbar>
