<mat-toolbar *ngIf="isNavbarActive$ | async" color="primary" class="navbar">
  <div>
    <span id="title">{{ title }}</span>
    <span id="home"><a routerLink="">Home</a></span>
    <span><a routerLink="about">About</a></span>
    <span><a routerLink="">Posts</a></span>
  </div>
  <div class="authentication-area">
      <form [formGroup]="searchFormGroup">
          <input formControlName="authorName" 
               class="form-control form-control-sm" 
               type="text" 
               placeholder="search author"
               (input)="inputValidator($event)"
               (keyup.enter)="onEnter()"> 
      </form>
    <button mat-raised-button (click)="loadLoginPage()">Login</button>
    <button mat-raised-button color="accent" (click)="loadSignUpPage()">Sign-up</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
