<a
  class="nav-link dropdown-toggle"
  data-bs-toggle="dropdown"
  aria-expanded="false"
  data-bs-auto-close="outside"
  >Sign up</a
>
<form [formGroup]="formGroup" class="dropdown-menu p-4">
  <div class="form-group">
    <mat-form-field class="my-3" appearance="legacy">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" type="text" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="my-3" appearance="legacy">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" type="text" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <button class="my-3" type="button" class="btn btn-primary">
      Continue with Google
    </button>
  </div>
</form>
