.standard-max-size {
    width: 3rem;
    height: 5rem;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

a:hover {
    text-decoration: underline;
}

.back-color {
    background-color: rgb(196, 189, 189);
}

.reset-padding {
    padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}

::ng-deep .mat-form-field-underline{
    display: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: sans-serif;
    font-size: 1.2rem;
}