
<div class="d-flex justify-content-center" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<div class="card mb-3 mx-sm-5 mt-sm-5 border" style="max-width: 100%" *ngIf="!isLoading">
  <div class="row g-0">
    <div class="col-lg-6 px-sm-4">
      <div class="col-md-10 px-sm-4">
        <img src= "{{ user?.imageUrl ? user?.imageUrl : 'https://picsum.photos/id/237/200/200'}}"
        class="img-fluid rounded-circle standard-max-size pt-md-3" alt="profile pic" />
      </div>
      <div class="">
        <button mat-mini-fab class="back-color" (click)="uploadButtonClicked()">
          <mat-icon>add_a_photo</mat-icon>
        </button>
      </div>
      <input hidden #uploadImageRef type="file" accept=".png, .jpg" (change)="onFileSelected($event)" />
      <div class="card-body ps-sm-5"></div>
    </div>
    <div class="col-lg-6 px-sm-4">
      <div class="col-md-10 px-sm-4 pt-md-4"></div>
      <div class="card-body ps-sm-5 pt-md-5">
        <h5 class="card-title">{{ user?.name }}</h5>
        <p class="card-text mt-4"><b>Address:</b> {{ address }}</p>
        <p class="card-text"><b>Birth date:</b> {{ user?.birthdate }}</p>
        <p class="card-text"><b>Contact:</b> {{ user?.email }}</p>
      </div>
    </div>
  </div>
</div>
